#container{
	background-color: #F0F0F0;
	line-height: 145%;
}

#header{
	margin-top: 55px;
}

body {
 padding: 0; 
 margin: 0;
 /* margin-top:5px; */
}

div.content{
	width: 65%;
	/* text-align: center; */
	margin:0 auto; /*this will center ur content*/	
}

div.footer{	
	/* margin-top: 3em; */ 
}	

div.stupid_separation{
	
}


div.figure {
  width: 90%;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}
div.figure p {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}

div.figure img {
	width: 90%;
}


/* 
####################################################
NAVIGATION BAR
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#navigation{
	position:  absolute; /* fixed; */ /* absolute is workaround for winE5,6 (does really work there.. see: http://www.w3.org/Style/Examples/007/menus.en.html */
	z-index: 10;
	top: 0;
	width: 100%;
	color: #ffffff;
	height: 35px;
	text-align: center;
	padding-top: 15px;
	/* Adds shadow to the bottom of the bar */
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
	/* Adds the transparent background */
	background-color: rgba(1, 1, 1, 0.8);
	color: rgba(1, 1, 1, 0.8);
}

*>#navigation {position: fixed} /* sill workaround to make winE5,6 display the menu at least, altouhg not fixed */

#navigation a {
font-size: 14px;
padding-left: 15px;
padding-right: 15px;
color: white;
text-decoration: none;
}

#navigation a:hover {
	color: grey;
} 

#navigation a:active{
/*	color: #0033CC; */
}
	




/* hyperlinks */
a:link {color:#3366CC; text-decoration: underline;}      /* 0033CC */ /* 3333FF */ /* 6666FF */
a:visited {color:#666699; text-decoration: underline;}  /* 6699CC, 0066CC, 336699, 808080, 333366 */
a:hover {color:#9900CC; text-decoration: none;}  /* 6633FF */ /* 993399 */ /* 6666FF */
a:active {color:#0033CC; text-decoration: underline;}  

/*
###################################################
################################################## */



h2.title{
	letter-spacing: 7px;
	/*font-weight: bold;*/
	font-variant: small-caps;
	font-family:Verdana;
}


h1.title{
/*	letter-spacing: ; */
	font-family: Verdana;	
	color: #CC0066;
}


span.sec_title{
	font-weight: bold;
	font-size: large;	
	margin: 1% 0;
	color: #007a4d; /* #990066; */
}

span.sub_sec_title{
	font-weight: bold;	
	margin: 1% 0;
	color: ;
}

ul.numbered{
	list-style-type: decimal;	
}

span.it{
		 font-style: italic;
	}
	
span.defn{
		font-style: italic;
}




/*
#########################################################
#########################################################
*/
/* Defining partly amsthm package with CSS, such as : theorem, definition, remark */


/* ALL HAD ONCE "margin: 12px 0;" */

.theorem {
    display: block;
    margin: 1% 0;
    font-style: italic;
}
.theorem:before {
    content: "Theorem.";
    font-weight: bold;
    font-style: normal;
}
.lemma {
    display: block;
    margin: 1% 0;
    font-style: italic;
}
.lemma:before {
    content: "Lemma.";
    font-weight: bold;
    font-style: normal;
}
.proof {
    display: block;
    margin: 1% 0;
    font-style: normal;
}
.proof:before {
    content: "Proof.";
    font-style: italic;
}
.proof:after {
    content: "\25FC";
    float:right;
}
.definition {
    display: block;
    margin: 1% 0;
    font-style: normal;
}
.definition:before {
    content: "Definition.";
    font-weight: bold;
    font-style: normal;
}

.remark {
    display: block;
    margin: 1% 0;
    font-style: normal;
}
.remark:before {
    content: "Remark.";
    font-weight: bold;
    font-style: normal;
}

.conjecture {
    display: block;
    margin: 1% 0;
    font-style: normal;
}
.conjecture:before {
    content: "Conjecture.";
    font-weight: bold;
    font-style: italic;
}



/*
#########################################################
#########################################################
*/

/* Defining some styles for code preview */

pre {
    font-size: 90%;
    line-height: 1.2em;
    font-family: "Courier 10 Pitch", Courier, monospace; 
    white-space: pre; 
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -o-pre-wrap; 


    height:1%;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    padding: 1em 1em;
   / margin: auto 40px auto 40px;
    background: #f4f4f4;
    border: solid 1px #e1e1e1
} 
code { 
    font-size: 90%;
    line-height: 1.2em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

    display: inline; 
    color: #555555;
    padding: 1em 1em;
    background: #f4f4f4;
}

/* This is supposed to get the nested list right */
ol {
    counter-reset: item;
}
ol li {
    display: block;
    position: relative;
}
ol li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px; /* space between number and text */
}
/*
#########################################################
#########################################################
*/

.CSSTableGenerator {
	margin:auto;padding:0px;
	width:80%;
	/*box-shadow: 10px 10px 5px #888888;*/
	border:1px solid #d68773;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	background-color:#f9e0e0;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #d68773;
	border-width:0px 1px 1px 0px;
	text-align:center;
/*	padding:7px;
	font-size:10px;*/
	font-family:Courier;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #bfb5b7 5%, #bfb5b7 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bfb5b7), color-stop(1, #bfb5b7) );
	background:-moz-linear-gradient( center top, #bfb5b7 5%, #bfb5b7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#bfb5b7", endColorstr="#bfb5b7");	background: -o-linear-gradient(top,#bfb5b7,bfb5b7);

	background-color:#bfb5b7;
	border:0px solid #d68773;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Helvetica;
	font-weight:bold;
	color:#000000;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #bfb5b7 5%, #bfb5b7 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bfb5b7), color-stop(1, #bfb5b7) );
	background:-moz-linear-gradient( center top, #bfb5b7 5%, #bfb5b7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#bfb5b7", endColorstr="#bfb5b7");	background: -o-linear-gradient(top,#bfb5b7,bfb5b7);

	background-color:#bfb5b7;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/*
#########################################################

#########################################################
*/

=======

#container{
	background-color: #F0F0F0;
	line-height: 145%;
}

#header{
	margin-top: 55px;
}

body {
 padding: 0; 
 margin: 0;
 /* margin-top:5px; */
}

div.content{
	width: 65%;
	/* text-align: center; */
	margin:0 auto; /*this will center ur content*/	
}

div.footer{	
	/* margin-top: 3em; */ 
}	

div.stupid_separation{
	
}


div.figure {
  width: 90%;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}
div.figure p {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}

div.figure img {
	width: 90%;
}


/* 
####################################################
NAVIGATION BAR
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#navigation{
	position:  absolute; /* fixed; */ /* absolute is workaround for winE5,6 (does really work there.. see: http://www.w3.org/Style/Examples/007/menus.en.html */
	z-index: 10;
	top: 0;
	width: 100%;
	color: #ffffff;
	height: 35px;
	text-align: center;
	padding-top: 15px;
	/* Adds shadow to the bottom of the bar */
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
	/* Adds the transparent background */
	background-color: rgba(1, 1, 1, 0.8);
	color: rgba(1, 1, 1, 0.8);
}

*>#navigation {position: fixed} /* sill workaround to make winE5,6 display the menu at least, altouhg not fixed */

#navigation a {
font-size: 14px;
padding-left: 15px;
padding-right: 15px;
color: white;
text-decoration: none;
}

#navigation a:hover {
	color: grey;
} 

#navigation a:active{
/*	color: #0033CC; */
}
	




/* hyperlinks */
a:link {color:#3366CC; text-decoration: underline;}      /* 0033CC */ /* 3333FF */ /* 6666FF */
a:visited {color:#666699; text-decoration: underline;}  /* 6699CC, 0066CC, 336699, 808080, 333366 */
a:hover {color:#9900CC; text-decoration: none;}  /* 6633FF */ /* 993399 */ /* 6666FF */
a:active {color:#0033CC; text-decoration: underline;}  

/*
###################################################
################################################## */



h2.title{
	letter-spacing: 7px;
	/*font-weight: bold;*/
	font-variant: small-caps;
	font-family:Verdana;
}


h1.title{
/*	letter-spacing: ; */
	font-family: Verdana;	
	color: #CC0066;
}


span.sec_title{
	font-weight: bold;
	font-size: large;	
	margin: 1% 0;
	color: #007a4d; /* #990066; */
}

span.sub_sec_title{
	font-weight: bold;	
	margin: 1% 0;
	color: ;
}

ul.numbered{
	list-style-type: decimal;	
}

ul.ref {
	list-style:	none;
}

span.it{
		 font-style: italic;
	}
	
span.defn{
		font-style: italic;
}

div.table_title {
	font-weight: bold;
	font-size: 1.1em;
	margin: auto;
	color: #006300;
}


/*
#########################################################
#########################################################
*/
/* Defining partly amsthm package with CSS, such as : theorem, definition, remark */


/* ALL HAD ONCE "margin: 12px 0;" */

.theorem {
    display: block;
    margin: 1% 0;
    font-style: italic;
}
.theorem:before {
    content: "Theorem.";
    font-weight: bold;
    font-style: normal;
}
.lemma {
    display: block;
    margin: 1% 0;
    font-style: italic;
}
.lemma:before {
    content: "Lemma.";
    font-weight: bold;
    font-style: normal;
}
.proof {
    display: block;
    margin: 1% 0;
    font-style: normal;
}
.proof:before {
    content: "Proof.";
    font-style: italic;
}
.proof:after {
    content: "\25FC";
    float:right;
}
.definition {
    display: block;
    margin: 1% 0;
    font-style: normal;
}
.definition:before {
    content: "Definition.";
    font-weight: bold;
    font-style: normal;
}

.remark {
    display: block;
    margin: 1% 0;
    font-style: normal;
}
.remark:before {
    content: "Remark.";
    font-weight: bold;
    font-style: normal;
}

.conjecture {
    display: block;
    margin: 1% 0;
    font-style: normal;
}
.conjecture:before {
    content: "Conjecture.";
    font-weight: bold;
    font-style: italic;
}



/*
#########################################################
#########################################################
*/

/* Defining some styles for code preview */

pre {
    font-size: 90%;
    line-height: 1.2em;
    font-family: "Courier 10 Pitch", Courier, monospace; 
    white-space: pre; 
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -o-pre-wrap; 


    height:1%;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    padding: 1em 1em;
   / margin: auto 40px auto 40px;
    background: #f4f4f4;
    border: solid 1px #e1e1e1
} 
code { 
    font-size: 90%;
    line-height: 1.2em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

    display: inline; 
    color: #555555;
    padding: 1em 1em;
    background: #f4f4f4;
}

/* This is supposed to get the nested list right */
ol {
    counter-reset: item;
}
ol li {
    display: block;
    position: relative;
}
ol li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px; /* space between number and text */
}
/*
#########################################################
#########################################################
*/

.CSSTableGenerator {
	margin:auto;padding:0px;
	width:70%;
	/*box-shadow: 10px 10px 5px #888888;*/
	border:1px solid #d68773;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	background-color:#f9e0e0;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #d68773;
	border-width:0px 1px 1px 0px;
	text-align:center;
/*	padding:7px;
	font-size:10px;*/
	font-family:Courier;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #bfb5b7 5%, #bfb5b7 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bfb5b7), color-stop(1, #bfb5b7) );
	background:-moz-linear-gradient( center top, #bfb5b7 5%, #bfb5b7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#bfb5b7", endColorstr="#bfb5b7");	background: -o-linear-gradient(top,#bfb5b7,bfb5b7);

	background-color:#bfb5b7;
	border:0px solid #d68773;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Helvetica;
	font-weight:bold;
	color:#000000;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #bfb5b7 5%, #bfb5b7 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bfb5b7), color-stop(1, #bfb5b7) );
	background:-moz-linear-gradient( center top, #bfb5b7 5%, #bfb5b7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#bfb5b7", endColorstr="#bfb5b7");	background: -o-linear-gradient(top,#bfb5b7,bfb5b7);

	background-color:#bfb5b7;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/*
#########################################################

#########################################################
*/
